<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                {{#each users}}
                <p>{{this.fullName}}</p>
                <p>{{this.email}}</p>
                <p>{{this.id}}</p>
                <form action="/admin/approve/{{this.id}}" method="post">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {{/each}}

            </article>
        </div>
    </div>
</div>