<style>
    #imgur{
        max-width: 50%;
    }
    a{
        color:black;
    }
    #art{
        background-color:#FFF;
        padding:20px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
    }
</style>
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
            {{#each users}}
                <p>{{this.usersnot.fullName}}</p>
                <p>{{this.usersnot.email}}</p>
                <p>{{this.usersnot.id}}</p>
                <a class="btn btn-default" href="/admin/approve/{{this.usersnot.id}}">Approve</a>
            {{/each}}

            </article>
        </div>
    </div>
</div>