<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>

<body style="background-color: #ECF0F1;">
    <header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">   
                        {{#if user}}<li><a href="/user/details">Добре дошли({{user.fullName}})</a></li> {{/if}}                       
                        <li><a href="/">Начало</a></li>
                        {{#if user.isAdmin}}
                        <li><a href="/admin/approve">Одобри кандидатура</a></li>
                        {{/if}}
                        <li><a href="/allproblems">Всички проблеми</a></li>
                        {{#if user}}
                        <li><a href="/problem/create">Нов проблем</a></li>
                        <li><a href="/user/logout">Излез</a></li>
                        {{/if}}
                        {{#unless user}}
                        <li><a href="/user/register">Регистрирай се</a></li>
                        <li><a href="/user/login">Влез</a></li>
                        {{/unless}}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {{#if error }}
    <h2>{{error}}</h2>
    {{/if}} {{{body}}}
</body>
<footer>
</footer>

</html>