<div class="container body-content span=8 offset=2">
    <div class="well">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="profile pic"></img>
            </div>
            <div class="col-sm-8">
                <p>Email: {{user.email}}</p>
                <p>Full Name: {{user.fullName}}</p>
            </div>
        </div>
    </div>
</div>