<style>
.well{
        border-radius: 5px;
        background-color: #FFF;
        padding:15px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
    }
    input[type="password"], input[type="text"], textarea{
        background-color:#F8F8F8
    }
</style>

<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" enctype="multipart/form-data" method="post" action="/user/register">
            <fieldset>
                <div>
                    <h1 class="text-center">Регистрирай се</h1>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputEmail">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" required value={{email}} >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFullName">Име</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" placeholder="Име" required name="fullName" value={{fullName}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputPassword">Парола</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Парола" required name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Потвърди парола</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Потвърди парола" required name="repeatedPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="problemContent">Профилна снимка:</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="image" type="file" name="image" style="background-color:#F8F8F8;">
                    </div>
                </div>
                <div class="form-group" style="text-align:center">
                    <input type="radio" name="regtype" value="User"  onclick="$('#description').attr('style','display:none')" checked>Потребител<br>
                    <input type="radio" name="regtype" value="Organisation" onclick="$('#description').attr('style','display:inline')">Организация<br>
                </div>
                <div class="form-group" style="display:none" id="description">
                    <label class="col-sm-4 control-label" for="inputFullName">Описание на организацията:</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" placeholder="Описание"  name="description" value={{fullName}}>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default" >Отмени</button>
                        <button type="submit" class="btn btn-primary">Регистрирай се</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>