<style>
#map-container {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
}

#map {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    /* adjust top margin to your header height */
}

</style>

<div id="map-container">
    <div id="map"></div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQzD3x6YorMnUkwkxzN4k5Pe0NDEFoce8"></script>
<script type="text/javascript" src="/javascripts/problemsmap.js"></script>