<div class="left">
    <div class="tagsWell" style="position:relative">
        <legend style="font-weight:bold">Тагове</legend>
            <div id="tagList" class="content hideContent" tabindex="100">
                <ul class="items">
                    {{#each tags}}
                        <li><input title={{this.description}} type="checkbox" name="tag" > {{this.title}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="show-more">
                <a href="#" >Show more tags</a>
            </div>
            <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <script type="text/javascript" src="/javascripts/showlessmore.js"></script>
            <div>
                <span style="font-weight:bold">Подреди по</span>
            </div>
            <div>
                <ul>
                    <li><input name="sortBy" type='radio'> Близост</li>
                    <li><input name="sortBy" type='radio'> Най-харесвани</li>
                    <li><input name="sortBy" type='radio'> Най-нови</li>
                    <li><input name="sortBy" type='radio'> Най-стари</li>
                </ul>
            </div>
            <div>
                <button type="submit" form="nameform" value="Submit" style="position:absolute; left: 40%;">Филтрирай</button>
            </div>
    </div>
</div>