<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/user/login">
            <fieldset>
                <legend>Tags</legend>
                <div id="tagList" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Tags</span>
                    <ul class="items">
                       {{#each tags}}
                          <li><input title={{this.description}} type="checkbox" name="vehicle" value="Bike">{{this.title}}</li>
                       {{/each}}
                    </ul>
                </div>
            </fieldset>
        </form>
    </div>
</div>